@import(url('reset.css'));

@charset "utf-8";
/* CSS Document */

html,body{
 font-family: 'Raleway', sans-serif;
 width:100%;
 height:100%;
 background-color:#eeeeee;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    color:#123544;
    font-weight: 800;
}

.hidden{
    display: none !important;
}

pre > code {
    display: block;
    white-space: pre;
}

code {
    overflow: scroll;;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 12px;
}

.modal p{
    font-family: 'Arial';
}

i{
    color:#aaaaaa;
    cursor: pointer;
}

i:hover{
    color:#7faed7;
}

i.right{
    margin-left:5px;
}

a i:hover{
    color:#7faed7;
}

nav ul a:hover{
    background-color: transparent;
}

nav{
    line-height: inherit;
    color:inherit;
}

nav .button-collapse i{
    font-size: 2rem;
}

 .main-nav{
    margin-top:0rem !important;
    width:100% !important;
}

.container{
    width:85% !important;
}

.card .card-content{
    padding:10px !important;
}

.help{
    color:#aaaaaa;
}

.help i{
    font-size:3rem !important;
}

.help:hover{
    color:#216699;
}

.top4{
    font-weight: 200;
    text-transform: none;
    color:#7faed7;
}

.top4-range{
    color:#aaaaaa;
    font-size:1.5rem;
    font-style: italic;
}

.conf-label{
    line-height: 3rem;
    display:block;
    text-align: center;
}

.vertical-divider{
	clear: both;
	position: relative;
}

.vertical-divider:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.vertical-divider .col:not(:first-child):after, .vertical-divider .col:not(:first-child):after{
	background: #aaaaaa;
	bottom: 0;
	content: " ";
	margin-left: -55px;
	position: absolute;
	top: 0;
	width: 1px;
}

.duplicate{
    transition: all .35s ease-in-out;
}

.duplicate:hover{
    transform: scale(1.025);
    -moz-transform:scale(1.025);
}

/************/
/** TITLES AND HEADERS **/
/************/

.titles{
    font-family: 'Arial';
    font-weight:bold;
}

.modal .comp-title{
    font-size:1.5rem;
    text-transform: none;
}

.comp-title{
    color:#216699 !important;
    font-size:1rem;
}

.dup{
    font-size:.7rem !important;
}

.dup-conf{
    font-family: 'Raleway';
    font-weight:400;
    color:#7faed7 !important;
}

.modal .dup{
    font-size:1.5rem !important;
    line-height: 0px;
}

.meta-title{
    color:#aaaaaa !important;
    font-style: italic;
}

.comp-text{
    overflow:scroll;
    font-family: 'Arial';
}

.span{
    color:#7faed7 !important;
    text-transform: none;
    font-weight: 400;
}

/************/
/** COLORS **/
/************/


.white-text{
	color:white;
}

.app-navy{
	background-color: #123544;
}

.app-navy-text{
	color:#123544;
}

.app-blue{
	background-color: #216699;
}

.app-blue-text{
	color: #216699;
}

.app-light-blue{
    background-color: #7faed7;
}

.app-light-blue-text{
    color: #7faed7;
}

.app-pale-blue{
    background-color: #d9e6f3;
}

.app-red-text{
    color:#e05b4b;
}

.app-green-text{
    color:#44b19b;
}

.c100{border-right:6px solid #00ff9d;}
.c95{border-right:6px solid #33fa90;}
.c90{border-right:6px solid #66f583;}
.c85{border-right:6px solid #99f076;}
.c80{border-right:6px solid #cceb69;}
.c75{border-right:6px solid #ffe75c;}
.c70{border-right:6px solid #ffc754;}
.c65{border-right:6px solid #ffa74d;}
.c60{border-right:6px solid #ff8846;}
.c55{border-right:6px solid #ff683f;}
.c50{border-right:6px solid #ff4938;}

/************/
  /** SEARCH  **/
  /************/

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

 nav{
     width:95% !important;
     margin: 0 auto;
     background-color:white;
 }

 nav form{
     height:100%;
 }

nav .nav-wrapper{
    margin-top:1rem;
}

 .input-field input[type=search]+label {
    left: 0rem;
    background-color: #7faed7;
    width:6%;
}

.input-field input[type=search]{
    padding-left:5rem;
}

nav .input-field label i {
    margin-left: 27%;
}

/***************/
/**  BUTTONS  **/
/***************/

/*.daily{
    padding:10px 10px !important;
    width:95%;
    font-size:1.1rem !important;
}*/

nav ul a.bttn {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.blackline{
    width:30%;
    line-height: 1rem !important;
    font-size: .6rem !important;
    float: right;
}

.bttn{
	box-sizing: border-box;
    cursor: pointer;
    line-height: 2em;
    padding: 5px 20px;
    overflow: hidden;
    text-align: center;
    border: 1px solid;
    border-color: transparent;
    transition: all 0.2s ease;
    border-radius: 4px;
    display: inline-block;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .05rem;
    padding: 3px 20px;
    background-color: #123544;
    text-transform: uppercase;
    color:white;
}

.bttn:hover{
	background-color:#7faed7;
}

.bttn-gen{
    color:#666666;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 2em;
    padding: 5px 20px;
    overflow: hidden;
    text-align: center;
    border: 1px solid;
    border-color: #888888;
    transition: all 0.2s ease;
    border-radius: 4px;
    display: inline-block;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .05rem;
    padding: 3px 20px;
    background-color: #123544;
    text-transform: uppercase;
    background-color:#eeeeee;
}

.bttn-gen:hover{
	color:#333333;
	background-color:#dddddd;
}

.text-link{
	color:#216699;
  font-family: 'Raleway', sans-serif;
}

.text-link:hover{
	color:#7faed7;
}

.bttn-icon{
	box-sizing: border-box;
    cursor: pointer;
    line-height: 2em;
    padding: 5px 20px;
    overflow: hidden;
    text-align: center;
    border: 1px solid;
    border-color: #888888;
    transition: all 0.2s ease;
    border-radius: 4px;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .05rem;
    padding: 0px 7px;
    background-color: #123544;
    text-transform: uppercase;
    background-color:#eeeeee;
}

.btn-floating:hover {
    background-color: #87b3da;
}

.btn-floating i{
    color:white;
}

.btn-floating i:hover{
    color:white;
}

/***************/
/* SELECT MENU */
/***************/

select{
    height:1rem;
    border: 1px solid #ddd;
}

.select-wrapper input.select-dropdown{
    border-bottom:1px solid #d9e6f3;
    color:#d9e6f3;
    font-size:1rem;
}

.select-wrapper{margin-top:-1rem;}

.select-wrapper span.caret {
    color:#d9e6f3;
}

.dropdown-content li>a, .dropdown-content li>span {
  color:#216699;
}

.dropdown-content li>a:hover, .dropdown-content li>span:hover {
  background-color:#d9e6f3;
}

input[type=text]:focus:not([readonly])+label,  input[type=password]:focus:not([readonly])+label{
    color:#216699;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #216699;
    box-shadow: 0 1px 0 0 #216699;
    color:#216699 !important;
}

/***************/
/**  RANGE  **/
/***************/

.noUi-connect{
    background-color:#7faed7 !important;
    background: #7faed7 !important;
}

.noUi-horizontal .noUi-handle{
    background-color: #7faed7 !important;
}

.noUi-target .range-label{
    background-color: #7faed7 !important;
}


#modal-blacklines{
    width:95% !important;
    max-height: 90% !important;
}

.top-blackline{
    font-size:.75rem;
}

.top-blackline i{
    font-size:1.25rem;
    line-height: 1.5;
}


/*************************/
/*** SCROLLBAR ***/
/************************/

.scrollbar::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0 63px #d9e6f3;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #216699;
    border-radius: 50px;
}
.scrollbar::-webkit-scrollbar-thumb:window-inactive {
	background: #123544;
}

.source-container{
    height:25rem;
}

.source-container p{
    overflow: auto;
    height: 25rem;
    padding-right:1rem;
}

.blackline-container p{
    overflow: auto;
    height:10rem;
    padding-right: 1rem;
}

/****************/
/** MEDIA ***/
/**************/

@media (max-width: 600px) {

    .input-field input[type=search]+label{
        width:13%;
    }
}

@media (max-width:992px){
    .daily{width:100%;}
    nav .button-collapse{
        float:right;
        margin-right:1rem;
    }
}
